<form autocomplete="off">
  <section class="task">
    <div class="form-group">
      <div class="form-fields">
        <label for="description">
          {{ localize "keikaku.taskform.field.description" }}
        </label>
        <input type="text" id="fieldDescription" name="description" value="{{ task.description }}" data-dtype="String"
          required="true">
      </div>
    </div>

    <div class="form-group">
      <div class="form-fields">
        <label for="fieldIcons">
          {{ localize "keikaku.taskform.field.icon" }}
        </label>
        <select id="fieldIcons" name="icon" data-dtype="Number">
          {{#select task.icon}}
          <option value="0">{{ localize "keikaku.taskform.field.icons.none" }}</option>
          <option value="1">{{ localize "keikaku.taskform.field.icons.important" }}</option>
          <option value="2">{{ localize "keikaku.taskform.field.icons.optional" }}</option>
          {{/select}}
        </select>

        <label for="color">
          {{ localize "keikaku.taskform.field.color" }}
        </label>
        <input type="color" id="fieldColor" name="color" value="{{ task.color }}" data-dtype="String" required>

        <label class="checkbox" for="fieldDone">
          {{ localize "keikaku.taskform.field.done" }}
        </label>
        <input type="checkbox" id="fieldDone" name="done" data-dtype="Boolean" {{checked task.done}}>
      </div>
    </div>

    <input type="hidden" name="index" value="{{ index }}">
  </section>

  <hr>

  <footer>
    <button type="submit" name="submit">
      <i class="far fa-save"></i>
      {{#if index includeZero=true}}
      {{ localize "keikaku.taskform.updatetask" }}
      {{else}}
      {{ localize "keikaku.taskform.createtask" }}
      {{/if}}
    </button>
  </footer>
</form>