<li>
  <div class="flexrow">
    {{#if done}}
    {{> modules/fvtt-keikaku/templates/todo-list-control.hbs
    index=@index action="toggle" icon="far fa-lg fa-check-square"
    title="keikaku.todolistwindow.incompletetask" active=isOwner}}
    {{else}}
    {{> modules/fvtt-keikaku/templates/todo-list-control.hbs
    index=@index action="toggle" icon="far fa-lg fa-square"
    title="keikaku.todolistwindow.completetask" active=isOwner}}
    {{/if}}

    <p class="todo-description {{#if done}}todo-done{{/if}}" {{#if color}}style="color: {{ color }}" {{/if}}>
      <span class="description">
        {{ description }}
      </span>
    </p>

    {{#if (eq tag 1)}}
    <span class="tag">
      {{ localize "keikaku.todolistwindow.tags.important" }}
    </span>
    {{else if (eq tag 2)}}
    <span class="tag">
      {{ localize "keikaku.todolistwindow.tags.optional" }}
    </span>
    {{/if}}

    {{#if isOwner}}
    {{> modules/fvtt-keikaku/templates/todo-list-control.hbs
    index=@index action="edit" icon="fas fa-edit"
    title="keikaku.todolistwindow.edittask" active=isOwner}}

    {{> modules/fvtt-keikaku/templates/todo-list-control.hbs
    index=@index action="delete" icon="fas fa-trash-alt"
    title="keikaku.todolistwindow.deletetask" active=isOwner}}
    {{/if}}
  </div>
</li>