<form autocomplete="off">
  <section class="task">
    <div class="form-group">
      <div class="form-fields">
        <label for="description">{{ localize "keikaku.taskform.description" }}</label>
        <input type="text" id="description" name="description" value="{{ description }}" data-dtype="String"
          required="true">
      </div>
    </div>

    <input type="hidden" name="index" value="{{ index }}" />
  </section>

  <hr>

  <footer>
    <button type="submit" name="submit">
      <i class="far fa-save"></i>
      {{#if index includeZero=true}}
      {{ localize "keikaku.taskform.updatetask" }}
      {{else}}
      {{ localize "keikaku.taskform.createtask" }}
      {{/if}}
    </button>
  </footer>
</form>